.data-row {
    display: flex;
    flex-direction: row;
    gap: 3px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Arial MT', sans-serif;;
    font-weight: bold;
    color: navy !important;
    font-size: 30px;
}

h3 {
    font-family: 'Arial MT', sans-serif;;
    font-weight: bold;
    color: navy !important;
    font-size: 22px;
}

h5 {
    font-family: 'Arial MT', sans-serif;;
    font-weight: bold;
    font-size: 16px;
}

div {
    font-family: 'Arial MT', sans-serif;;
    color: navy !important;
    font-size: 16px;
    line-height: 24px;
}

.output_header {
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.w33 {
    width: 33%;
}

.jump_link_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 56px;
    text-align: center;
    font-family: 'Arial MT', sans-serif;;
    font-weight: bold;
    border-radius: 5px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #EEF1F6;
    margin-top: 5rem;
}

.box_shadow {
    box-shadow: 0 0 10px #EEF1F6;
}

.navy_col {
    color: #012169;
}

.blue {
    background-color: #0047BB;
}

.light_blue {
    background-color: #00C2F3;
}

.green {
    background-color: #03CDA7;
}

.-btn:hover {
    opacity: .8;
}

.-txt {
    color: #fff;
}

.-xs {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #24262D;
    opacity: 0.5;
}

#loaderMain {
    z-index: 5;
}

.loader {
    --loader-size: 50px;
    --loader-border-size: 4px;
    --loader-border-color: white;
    width: var(--loader-size);
    height: var(--loader-size);
    border: var(--loader-border-size) solid var(--loader-border-color);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    animation: rotateX 1s infinite linear;
}

.loader::before {
    content: "";
    border: var(--loader-border-size) solid var(--loader-border-color);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    animation: rotateX 0.5s infinite linear reverse;
}

@keyframes rotateX {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}


.switch {
    display: block;
    margin: 12px auto;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 80px;
    height: 30px;
    padding: 3px;
    background-color: white;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 0;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #CDD4E0;
    -moz-border-radius: inherit;
    -webkit-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: opacity background border;
    -moz-transition-property: opacity background border;
    -o-transition-property: opacity background border;
    transition-property: opacity background border;
}

.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    font-size: 14px;
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #000;
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    opacity: 0;
}

.switch-input:checked ~ .switch-label {
    background: #012169;
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}

.switch-handle {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
}

.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(to bottom, #eeeeee, white);
}


.switch-input:checked ~ .switch-handle {
    background: #ffffff;
    left: 50px;
    -moz-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-handle:before {
    background: #ffffff;
}

.switch-green > .switch-input:checked ~ .switch-label {
    background: #4fb845;
}

input[type="range"] {
    accent-color: #012169;
    margin-right: 3px;
}

input[type="text"] {
    font-family: 'Arial MT', sans-serif;;
    font-size: 15px !important;
    border-radius: 5px !important;
    color: #012169;
}

input[type="text"]:disabled {
    background-color: #EEF1F6 !important;
}

.p-8 {
    padding-bottom: 2rem;
}

@media (min-width: 700px) {
    #menu {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around
    }

    .input_wr {
        width: 65%;
    }
}

@media (max-width: 700px) {
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav div {
        margin-bottom: 2px;
    }

    .input_wr {
        width: 90%;
    }
}


@media (max-width: 512px) {
    .input_range_wr {
        display: flex;
        flex-direction: column;
    }
}
